.forecast {
  &__content {
		padding: 15px 0;
  }
}

.form {
  &__search-panel {
    display: flex;
    margin: 0 0 1rem 0;
  }

  &__text {
    flex: 1 0;
		padding: 0 5px;
		font-size: 1rem;
  }

  &__measure {
		display: flex;
		justify-content: center;
  }

  &__label {
    span {
			display: block;
			border: 1px solid rgb(202, 52, 52);
      user-select: none;
      cursor: pointer;
			padding: 5px;
      color: rgb(202, 52, 52);
			font-size: 1.2rem;
    }

    input {
      display: none;

      &:checked + span {
        color: #2a9468;
				font-weight: bold;
				border-color: #2a9468;
      }
    }
  }

  &__btn {
    padding: 5px 10px;
    font-size: 1.2rem;
    color: #fff;
    background-color: transparent;
    border-color: #2a3bd6;
    box-shadow: 0 0 40px 40px #2a3bd6 inset, 0 0 0 0 #2a3bd6;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;

    &:hover {
      box-shadow: 0 0 10px 0 #2a3bd6 inset, 0 0 10px 4px #2a3bd6;
			color: #0e25ee;
      top: -1px;
    }

    &:active {
      top: 1px;
    }
  }
}
