.app {
	min-height: 100%;
  display: flex;
  flex-direction: column;
	padding: 0 8%;
	background-image: url('./img/sky.jpg');
}

main {
	flex: 1 0;
}

.header {
  &__content {
		padding: 10px 0;
		border-bottom: 1px solid #1b198f;
  }

  &__title {
		font-size: 2rem;
		font-weight: 600;
		color: #1b198f;

		@media (min-width: 768px) {
			font-size: 2.1rem;
		}

		@media (min-width: 1440px) {
			font-size: 2.2rem;
		}
  }

	&__subtitle {
		font-size: 1rem;
		color: #1b198f;

		@media (min-width: 768px) {
			font-size: 1.2rem;
		}

		@media (min-width: 1440px) {
			font-size: 1.4rem;
		}
  }
}

.footer {
	&__content {
		padding: 10px 0;
		border-top: 1px solid #1b198f;

		@media (min-width: 768px) {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 12px 0;
		}

		@media (min-width: 1440px) {
			padding: 15px 0;
		}
  }

  &__text {
		text-align: center;
		font-size: 1.2rem;
		margin: 0 0 0.5rem 0;
		color: #1b198f;

		@media (min-width: 768px) {
			margin: 0 1rem 0 0;
		}

		@media (min-width: 1024px) {
			font-size: 1.5rem;
		}
  }
}